nav {
  box-shadow: 0px 0px 10px #000;
  background: #1976d2;
}
.brand-logo {
  color: #ffff;
  text-decoration: none;
}
.brand-logo:hover {
  color: #fff;
  text-decoration: none;
}

.nav-link {
  display: block;
  height: 40px;
  color: #fff !important;
  margin-right: 10px;
}

.nav-link:hover {
  border-bottom: 1px solid white;
}

.logout-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #ffff;
}

.logout-button:hover {
  background-color: #ffff;
  color: #1976d2;
  border: 1px solid #ffff;
}
