.link-styles {
  color: #ffff;
  text-decoration: none;
  font-weight: bold;
}

.link-styles:hover {
  color: #ffff;
  text-decoration: none;
  font-weight: bold;
}

.submit-btn {
  min-width: 85px;
}
