.google_button {
  background: rgb(221, 29, 29);
  color: white;
}

.heading-main,
.description {
  font-family: 'Acme', sans-serif;
}

.heading-main {
  font-size: 4em;
}
.description {
  font-weight: lighter;
  font-size: 1.5rem;
}
.disc-point {
  font-family: 'Acme', sans-serif;
}
.login__link {
  text-decoration: underline;
  font-weight: bold;
}

.login__link :hover,
.login__link:active {
  text-decoration: none;
}

@media screen and (max-width: 500px) {
  .side-showcase {
    display: none !important;
  }
}
